.home-image {
    max-width: 100%; /* Ограничиваем ширину 100% от родительского элемента */
    height: auto; /* Сохраняем пропорции изображения */
    display: block; /* Удаляем лишние отступы снизу (для inline элементов) */
    margin: 0 auto; /* Центрируем изображение горизонтально, если это необходимо */
}