/* src/Navbar.css */

.navbar {
    background-color: #ffffff; /* Белый фон */
    border: 1px solid #dcdcdc; /* Светлая обводка */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
    overflow: hidden; /* Скрытие переполнения */
    padding: 10px; /* Отступы вокруг навбара */
    text-align: center; /* Центрирование навбара */
    border-radius: 8px; /* Закругление углов */
    position: fixed; /* Фиксация навбара */
    top: 0; /* Расположение в верхней части страницы */
    width: 100%; /* Занять полную ширину */
    z-index: 1000; /* Убедитесь, что навбар выше других элементов */
}

.navbar-logo img {
    height: 40px;
}

.navbar-buttons {
    display: flex;
    justify-content: center; /* Добавляем центрирование по горизонтали */
    align-items: center;    /* Добавляем центрирование по вертикали (если нужно) */
    width: 100%; /* Кнопки должны занимать всю ширину */
}

.navbar-button {
    margin-left: 20px;
    font-size: 1.5rem; /* Размер шрифта кнопок по умолчанию */
}

/* Медиа-запросы для уменьшения размера шрифта на мобильных устройствах */
@media (max-width: 768px) { /* Для мобильных устройств */
    .navbar-button {
        font-size: 0.75rem; /* Уменьшаем размер шрифта кнопок */
        margin-left: 10px; /* Уменьшаем отступ между кнопками, если нужно */
    }

    .navbar-logo img {
        height: 30px; /* Уменьшаем высоту логотипа на мобильных устройствах */
    }
}