/* src/Navbar.css */
.navbar {
  position: fixed; /* Фиксируем навигацию сверху */
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff; /* Цвет фона навбара */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для навбара */
  z-index: 1000; /* Убедитесь, что навбар выше других элементов */
  padding: 10px 20px; /* Отступы для компактности */
  display: flex; /* Используем flexbox для выравнивания элементов */
  transition: transform 0.3s ease; /* Плавная анимация для сворачивания */
}

.navbar.hidden {
  transform: translateY(-100%); /* Скрываем навбар при прокрутке вниз */
}

.navbar.visible {
  transform: translateY(0); /* Показываем навбар при прокрутке вверх */
}

.navbar-logo {
  display: flex;
  align-items: center; /* Центрируем логотип по вертикали */
}

.navbar-logo img {
  max-height: 150px; /* Максимальная высота логотипа */
}

.navbar-links {
  display: flex;
  gap: 20px; /* Увеличиваем расстояние между кнопками */
  margin-left: auto; /* Отталкиваем кнопки вправо */
}

.navbar-links a {
  color: #fff; /* Цвет текста (изменен на белый для лучшей видимости) */
  text-decoration: none; /* Убираем подчеркивание */
  padding: 10px 15px; /* Увеличиваем отступы для кнопок */
  background-color: #b0b1b3; /* Цвет фона кнопок (синий) */
  border-radius: 5px; /* Скругление углов кнопок */
}

.navbar-links a:hover {
   background-color:#9c9c9c ;/* Темнее синий цвет при наведении */ 
}