/* src/MaterialsPage/MaterialsPage.css */
.materials-page {
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
    gap: 20px; /* Промежутки между карточками */
    margin: 20px; /* Отступы снаружи со всех сторон */
}

.page-title {
    font-size: 36px; /* Увеличенный размер шрифта заголовка */
    font-weight: bold; /* Жирный шрифт */
    margin-bottom: 20px; /* Отступ снизу от заголовка */
    text-align: center; /* Центрирование текста */
    
    background-color: #008ea6; /* Фоновый цвет для заголовка */
    color: #ffffff; /* Цвет текста заголовка */
    padding: 20px; /* Отступы внутри блока заголовка */
    border-radius: 12px; /* Закругленные углы для блока заголовка */
}

.material-card {
    display: flex;
    border: 1px solid #ffffff; /* Рамка вокруг карточки */
    border-radius: 12px; /* Закругленные углы (увеличено) */
    overflow: hidden; /* Скрываем переполнение */
    width: 100%; /* Задаем ширину карточки на 100% родительского контейнера */
    margin-bottom: 10px; /* Отступ снизу для карточек, чтобы они не касались друг друга */
    min-height: 100px; /* Минимальная высота карточки, можно изменить по желанию */

    background-color: #ffffff; /* Цвет фона карточки (белый) */
    box-shadow: 0 4.1px 8.1px rgba(0, 0, 0, 0.1); /* Увеличенная тень для создания эффекта приподнятости */
}

.download-section {
    width: 30%; /* Ширина левой стороны */
    background-color: #543ab4; /* Цвет фона для секции "Скачать" */
    background-size: cover; /* Масштабируем изображение, чтобы оно заполнило весь элемент */
    background-position: center; /* Центрируем изображение */
    background-repeat: no-repeat; /* Не повторяем изображение */
    color: rgb(255, 255, 255); /* Цвет текста */
    display: flex;
    align-items: center; /* Центрируем текст по вертикали */
    justify-content: center; /* Центрируем текст по горизонтали */

    font-size: 36px; /* Увеличиваем размер текста (можно изменить на нужное значение) */
    font-weight: bold; /* Можно сделать текст жирным (по желанию) */
}

.info-section {
    width: 70%; /* Ширина правой стороны с информацией о материале */
    padding-left: 10px; /* Отступы внутри секции информации */
}

.material-title {
    font-weight: bold; /* Жирный шрифт для названия материала */

    background-color: #543ab4; /* Фиолетовый цвет фона для названия материала */ 
    color: #ffffff; /* Белый цвет текста для названия материала */ 
    padding: 15px; /* Отступы внутри блока названия материала для лучшего отображения */ 
}

.material-description {
    margin-top: 50px; /* Отступ сверху для описания материала */
}