.grid-container {
    display: grid; /* Используем сетку для размещения элементов */
    grid-template-columns: repeat(auto-fill, minmax(500px, 2fr)); /* Автоматически заполняем колонки с минимальной шириной в 500px */
    gap: 30px; /* Увеличиваем промежуток между элементами сетки до 30px */
    padding: 20px; /* Отступы вокруг контейнера сетки */
    justify-items: center; /* Центрируем элементы по горизонтали внутри ячеек сетки */
    justify-content: center; /* Центрируем ячейки сетки по горизонтали */
}