/* src/News.css */
.news-container {
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    min-height: 100vh; /* Занимаем всю высоту экрана */
    background-color: #543ab4; /* Фиолетовый фон */
    background-size: cover; /* Масштабируем фоновое изображение */
    background-position: center; /* Центрируем фоновое изображение */
    position: relative; /* Для позиционирования дочерних элементов */
}

.background-image {
    position: relative; /* Для позиционирования дочерних элементов */
    width: 100%; /* Занимаем всю ширину */
    height: 100%; /* Занимаем всю высоту */
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
    justify-content: center; /* Центрируем по вертикали */
    align-items: center; /* Центрируем по горизонтали */
}

.background-container {
    text-align: center; /* Центрируем текст */
    color: rgb(255, 255, 255); /* Цвет текста */
}

.text-blocks-container {
    display: flex;
    flex-direction: column; /* Вертикальное расположение блоков */
    align-items: center; /* Центрируем по горизонтали */
}

.text-block {
    margin: -10px 0px; /* Отступы между блоками */
    cursor: move; /* Указатель для перемещения */
}

/* Пример стилей для изменения размера текста */
.date-info-block {
    font-size: 3rem; /* Размер текста, можно изменить */
    color: white; /* Цвет текста */
}