.carousel-image {
    width: 100%; /* Ширина изображения на 100% от родительского элемента */
    height: auto; /* Высота автоматически подстраивается */
    object-fit: cover; /* Изображение будет обрезано, чтобы заполнить контейнер */
    border-radius: 25px; /* Закругление углов (можно изменить значение по желанию) */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); /* Тень для эффекта выпуклости */
}